
body {
    background: #DCDCDC;
    color: #545454;
    font-family: 'Cabin', sans-serif;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 375px;
    margin-left: 0;   
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
    margin-left: 10px;
}

h2 {
    margin-top: 1.3em;
}

p {
    font-family: 'Cabin', sans-serif;
    margin-left: 10px;
}


a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}


header {
    overflow: hidden;
    background-color: #4B2C34;
    position: fixed; /* Set the header to fixed position */
    top: 0; /* Position the header at the top of the page */
    width: 100%; /* Full width */
    height: 350px;
    background-image: url('img/river8.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: 0;
    
}

header h1 {
  margin-top: 175px;
  text-align: center;
  color: silver;
  font-size: 625%;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #447878;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: silver;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
  color: #4B2C34;
}
 
  
}
/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
    padding-left: 10px;
}

.main img {
  margin-left: 10px;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #447878;
    color: silver;
    font-size: 1em;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


button.accordion:hover {
    background-color: #4B2C34;
}

button.accordion.active {
    background-color: #447878;
}


/* Style the accordion panel.*/
div.panel {
    padding: 0 18px;
    background-color: #DCDCDC;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}

/* Add "+" and "-" symbols to accordion tabs */
button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Photo Slideshow*/
  *{box-sizing:border-box}

/* Slideshow container */
#slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  z-index: -1;
}


/* Caption text */
.text {
  color: silver;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: silver;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Styling for Location section */
#location {
  background-color: #4B2C34;
  height: 425px;
  color: silver;
  margin-top: 15px;
  padding-top: 8px;
}

.location-spotlight p {
  float: right;
  font-size: 20px;
}

.location-spotlight h2 {
  background-color: #447878;
  color: silver;
  margin-bottom: 0;
}

/* Styling for Footer*/
footer {
  background-color: #DCDCDC;
  padding-left: 10px;
  color: #4B2C34;
  height: 50px;
  text-align: center;
}

#andy-darcher {
  cursor: pointer;
}

